/* ============================================================
  CSS FOR ALL PAGES
============================================================ */
/* clear */
section > div, h3, footer {
	clear: both;
}

/* tooltip jquery for icons */
.tooltip {
  display:none;
  position:absolute;
  background-color:rgb(236,177,75);
  padding:10px;
  color:#fff;
  font-size:12px;
  font-family: Quicksand;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Float images and put size */
div > img {
	float: right;
	margin-bottom: 50px;
	height: 250px;
	width: 400px;
}

/* float text */
.texto {
	float: left;
	width: 50%;
	margin-right: 60px;
}

/* h4 title */
section h4 {
  text-align: right;
}

/* MEDIA FOR DISPLAY CATEGORIES IN SMALL SCREENS */
@media screen and (max-width: 456px) {
  .miniborder {
    margin-left: 45%;
  }
}

@media screen and (max-width: 910px) {
  .miniborder {
    margin-left: 47%;
  }
}

@media screen and (max-width: 1024px) {
  div > img {
    float: none;
    height: auto;
    width: auto;
    margin-bottom: 50px;
  }

  .texto {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}